EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_API_BASE_URL=
PG_CONNECTION_STRING=postgres://nahamzzi:nahamzzi@127.0.0.1:5432/nahamzzi
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
GOOGLE_CLIENT_EMAIL=
NAHAMZZI_TOKEN_ENCRYPTION_KEY=
